{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>ClearPlan - Login</title>
        <link rel="icon" href='{% static 'logo.svg' %}' type="image/x-icon">
        <link rel="stylesheet" href="{% static 'mainstyles.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'loginpagestyles.css' %}" type="text/css">

    </head>

    <body>
        <div class="login-container">
            <div class="main-heading">Login</div>
            <!-- form error message -->
            <div class="error-message-container">
                <img class="error-icon" src="{% static 'warning.png' %}">
                <div class="error-content">Please enter the correct credentials.</div>
            </div>

            <!-- form starts here -->
             <form name="login-form" method="POST">
                {% csrf_token %}

                <div class="field-container">
                    <label class="text">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                
                <div class="field-container">
                    <label class="text">Password:</label>
                    <input type="password" name="password" required>
                </div>
                
                <input type="submit" class="submit-button" value="Login">
            </form>
            
            <p class="text">Don't have an account? <a href="/register"> Register here</a></p>

        </div>

        <!-- logo image -->
        <img id="logo-box" src="{% static "logo.png" %}" width="700" height="700">
    </body>
</html>