{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>ClearPlan - Home</title>
        <link rel="icon" href="{% static 'logo.svg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
    </head>

    <body>
        <div class="header">
            <form onsubmit="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <label for="logout-button" class="logout">Logout</label>
                <input class="input-button" type="submit">
            </form>
        </div>

        <div class="content-area">
            <div class="content">
                <div class="subheading">Welcome {{user.username}}!</div>
                <button class="main-button" onclick="location.href = '/editjournal'"> + </button>
                <div class="text">Create a new Journal!</div>
            </div>

            <div id="logo-box">
                <img id="logo" src="{% static 'logo.png' %}">
            </div>
        </div>
    </body>
</html>
