{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>ClearPlan - Home</title>
        <link rel="icon" href="{% static 'logo.svg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
    </head>

    {% comment %} {% if mode == "new" %} {% endcomment %} 
    <body>
        <div class="header">
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <label for="logout-button" class="logout">Logout</label>
                <input class="input-button" type="submit">
            </form>
        </div>

        <div class="content-area">
            <div class="content">
                <div class="subheading">Welcome {{user.username}}!</div>
                <button class="main-button" onclick="location.href = '/editjournal'"> + </button>
                <div class="text">Create a new Journal!</div>
            </div>

            <div id="logo-box">
                <img id="logo" src="{% static 'logo.png' %}">
            </div>
        </div>
    </body>

    {% comment "" %}{% else %} {% endcomment %}
            {% comment "Code for home page with book display" %}{% endcomment %}

        {% comment %}
        <body class="user-home">
            <!-- header on top of the page -->
            <div class="header">
                <!-- home button -->
                <div id="home-button" onclick="location.href='/home'">
                    <div id="background-circle" onclick="location.href = '/home'">
                        <img src="{% static 'home_icon.svg' %}" width="58" height="58">
                    </div>
                </div>

                <!-- page title -->
                <div id="page-title" class="main-heading">
                    Home
                </div>
            </div>

            <div class="book-area">
                <!-- book preview -->
                <div id="book-preview">
                    <div id="binder"></div>
                    <div id="book">
                        <div class="book-text" id="display-text-on-book">This book belongs to:</div>
                        <div class="book-text" id="display-username-on-book">Username</div>
                        <div id="image-placeholder">
                            <img id="display-image" src="{% static 'logo.png' %}">
                        </div>
                    </div>
                </div>
                
            </div>
        </body>
    {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
</html>
