{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Page</title>
    <link rel="stylesheet" href="{% static 'page.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">

    <script src="{% static 'loadThemes.js' %}" defer></script>
    <script src="{% static 'page.js' %}" defer></script>
</head>

<body>
    <div class="header">
            <!-- home button -->
            <div id="home-button" onclick="location.href='/home'">
                <div id="background-circle">
                    <img src="{% static 'home_icon.svg' %}" width="58" height="58">
                </div>
            </div>
            
    <!-- top section with title and date -->
     <div class="task-bar">
        <form name="page-title" method="POST" action="/updatePageTitle/{{date_value}}/{{pgno}}">
            {% csrf_token %}
            <input type="text" placeholder="Page Title" id="title-input" name="title-input" value="{{page_title}}"> <!-- input for page title -->
        </form>
        <div id="page-number">Page {{pgno}}</div>
        <div id="date-display">{{date_value}}</div>
    </div>
    
    <!-- canvas where notes will appear -->
     <div class="canvas" id="canvas">
        <!-- load notes -->
        {% for note in notes %}
            <div 
                id="{{note.noteid}}" class="note"
                contentEditable="true"
                style="left: {{note.position_left}}; top: {{note.position_top}};"
                onfocus="makeNoteDraggable(this); addDeleteButton(this); addNoteListener(this);"
            >{{note.content|linebreaksbr}}&nbsp;
            </div>
        {% endfor %}

        <!-- load tasks -->
        {% for box in taskboxes %}
            <div 
                id="{{box.taskboxid}}" class="todo"
                style="left: {{box.position_left}}; top: {{box.position_top}}"
                onclick="makeTaskDraggable(this); addDeleteButton(this);">
                
                {% for item in taskitems %}
                    {% if item.taskbox == box.taskboxid %}
                        <div id="{{item.taskitemid}}" class="todo-item">
                            {% if item.checked == True %}
                            <div class="checked">
                                <img src="{% static "check.png" %}" onclick="addCheckListener(this)">
                            </div>
                            <div contentEditable="true" onfocus="addTypingListeners(this); addBlurListener(this);"
                                 style="text-decoration: line-through;">{{item.content}}</div>

                            {% else %}
                            <div class="unchecked" onclick="addCheckListener(this)"></div>
                            <div contentEditable="true" onfocus="addTypingListeners(this); addBlurListener(this);">{{item.content}}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            
            </div>
        {% endfor %}
     </div>
     
     <!-- bottom toolbar with button -->
      <div class="toolbar">
        <!-- save button -->
            <button class="prev-next-buttons" id="prev-button"><</button>
            <button class="btn" onclick="location.href='/calendar'">Calendar</button>
            <button class="prev-next-buttons" id="next-button">></button>
    </div>

    <!-- LEFT TOOLBAR -->
     <div class="sidebar">
        <button onclick="addNote()">🗒<span>Note</span></button>
        <button onclick="addTodo()">☑<span>To-do</span></button>
    </div>

    <!-- hidden values -->
    <form name="hidden-note-form" method="POST" action="/createUpdateNote/{{date_value}}/{{pgno}}">
        {% csrf_token %}
        <input type="hidden" id="hidden-note-id" name="hidden-note-id">
        <input type="hidden" id="hidden-note-content" name="hidden-note-content" value="">
        <input type="hidden" id="hidden-note-position-top" name="hidden-note-position-top">
        <input type="hidden" id="hidden-note-position-left" name="hidden-note-position-left">
    </form>

    <form name="hidden-taskitem-form" method="POST" action="/createUpdateTaskBox/{{date_value}}/{{pgno}}">
        {% csrf_token %}

        <input type="hidden" id="hidden-taskitem-id" name="hidden-taskitem-id">
        <input type="hidden" id="hidden-container-id" name="hidden-container-id">
        <input type="hidden" id="hidden-taskitem-content" name="hidden-taskitem-content">
    </form>

    <form name="hidden-taskposition-form" method="POST" action="/updateTaskPosition/{{date_value}}/{{pgno}}">
        {% csrf_token %}

        <input type="hidden" id="task-id" name="task-id">
        <input type="hidden" id="taskposition-left" name="taskposition-left">
        <input type="hidden" id="taskposition-top" name="taskposition-top">
    </form>

    <form name="hidden-taskcheck-form" method="POST" action="/updateTaskCheck/{{date_value}}/{{pgno}}">
        {% csrf_token %}
        <input type="hidden" id="hidden-taskitem-checked" name="hidden-taskitem-checked">
    </form>

    <div type="hidden" id="hidden-focusable-element"></div>

    
</body>
</html>
