{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Page</title>
    <link rel="stylesheet" href="{% static 'page.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">

    <script src="{% static 'loadThemes.js' %}" defer></script>
    <script src="{% static 'page.js' %}" defer></script>
</head>

<body>
    <div class="header">
            <!-- home button -->
            <div id="home-button" onclick="location.href='/home'">
                <div id="background-circle">
                    <img src="{% static 'home_icon.svg' %}" width="58" height="58">
                </div>
            </div>
            
    <!-- top section with title and date -->
     <div class="task-bar">
        <form name="page-title" method="POST" action="/updatePageTitle/{{date_value}}/{{pgno}}">
            {% csrf_token %}
            <input type="text" placeholder="Page Title" id="title-input" name="title-input" value="{{page_title}}"> <!-- input for page title -->
        </form>
        <div id="page-number">Page {{pgno}}</div>
        <div id="date-display">{{date_value}}</div>
    </div>
    
    <!-- canvas where notes will appear -->
     <div class="canvas" id="canvas">
        {% for note in notes %}
            <div 
                id="{{note.noteid}}" class="note"
                contentEditable="true"
                style="left: {{note.position_left}}; top: {{note.position_top}};"
                onfocus="makeDraggable(this); addDeleteButton(this); addListener(this); "
            >{{note.content|linebreaksbr}}&nbsp;
            </div>
        {% endfor %}
     </div>
     
     <!-- bottom toolbar with button -->
      <div class="toolbar">
        <!-- save button -->
            <button class="prev-next-buttons" id="prev-button"><</button>
            <button class="btn" onclick="location.href='/calendar'">Calendar</button>
            <button class="prev-next-buttons" id="next-button">></button>
    </div>

    <!-- LEFT TOOLBAR -->
     <div class="sidebar">
        <button onclick="addNote()">🗒<span>Note</span></button>
        <button onclick="addTodo()">☑<span>To-do</span></button>
    </div>

    <!-- hidden values -->
    <form name="hidden-form" method="POST" action="/createUpdateNote/{{date_value}}/{{pgno}}">
        {% csrf_token %}
        <input type="hidden" id="hidden-note-id" name="hidden-note-id">
        <input type="hidden" id="hidden-note-content" name="hidden-note-content" value="">
        <input type="hidden" id="hidden-note-position-top" name="hidden-note-position-top">
        <input type="hidden" id="hidden-note-position-left" name="hidden-note-position-left">
    </form>

    
</body>
</html>
