{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Page</title>
    <link rel="stylesheet" href="{% static 'page.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">

    <script src="{% static 'loadThemes.js' %}" defer></script>
    <script src="{% static 'page.js' %}" defer></script>
</head>

<body>
    <div class="header">
            <!-- home button -->
            <div id="home-button" onclick="location.href='/home'">
                <div id="background-circle">
                    <img src="{% static 'home_icon.svg' %}" width="58" height="58">
                </div>
            </div>
            
    <!-- top section with title and date -->
     <div class="task-bar">
        <input type="text" placeholder="Page Title" id="title-input"> <!-- input for page title -->
        <div id="page-number">Page {{pgno}}</div>
         <div id="date-display">{{date_value}}</div>
    </div>
    
    <!-- canvas where notes will appear -->
     <div class="canvas" id="canvas"></div>
     <canvas id="drawCanvas"></canvas>
     
     <!-- bottom toolbar with button -->
      <div class="toolbar">
        <!-- save button -->
            <button class="prev-next-buttons"><</button>
            <button class="btn" onclick="onSubmit()">Save</button>
            <button class="btn">+</button>
            <button class="btn" onclick="location.href='/calendar'">Calendar</button>
            <button class="prev-next-buttons">></button>
    </div>

    <!-- LEFT TOOLBAR -->
     <div class="sidebar">
        <button onclick="addEntity()">🗒<span>Note</span></button>
        <button onclick="addTodo()">☑<span>To-do</span></button>
    </div>

    <!-- hidden values -->
    <input type="hidden" id="hidden-page-date">
    
</body>
</html>
