{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>ClearPlan - Home</title>
        <link rel="icon" href="{% static 'logo.svg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'userhome.css' %}" type="text/css">

        <script src="{% static 'loadThemes.js' %}"></script>

    <body>
        <!-- header on top of the page -->
        <div class="header">
            <div id="home-button" onclick="location.href='home'">
                <div id="background-circle">
                    <img src="{% static 'home_icon.svg' %}" width="58" height="58">
                </div>
            </div>

            <!-- page title -->
            <div id="page-title" class="main-heading">
                Home
            </div>

            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <label for="logout-button" class="logout">Logout</label>
                <input class="input-button" id="logout-button" type="submit">
            </form>

            <div id="theme-button" onclick="location.href='themes'">
                <div id="theme-button-bg" style="cursor: pointer;">
                    <img src="{% static 'painting.png' %}" width="58" height="58">
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="book-area">
            <div id="book-preview">
                <div id="binder" style="background-color: {{binder_color}}"></div>
                <div id="book" style="background-color: {{book_color}}">
                    <div class="book-text" id="display-text-on-book">This book belongs to:</div>
                    <div class="book-text" id="display-username-on-book">{{user.username}}</div>
                </div>
            </div>

            <div class="button-holder">
                <button class="smaller-button">Open Journal</button>
                <button class="smaller-button" onclick="location.href = 'editjournal'">Edit Journal</button>
            </div>
        </div>

        
    </body>
</html>