{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>ClearPlan - Home</title>
        <link rel="icon" href="{% static 'logo.svg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'mainstyles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'userhome.css' %}" type="text/css">
    </head>

    <body>
        <!-- header on top of the page -->
        <div class="header">
            <div id="home-button" onclick="location.href='home'">
                <div id="background-circle">
                    <img src="{% static 'home_icon.svg' %}" width="58" height="58">
                </div>
            </div>

            <!-- page title -->
            <div id="page-title" class="main-heading">
                Home
            </div>
        </div>

        <!-- content -->
        <div class="book-area">
            <div id="book-preview">
                <div id="binder" style="background-color: {{binder_color}}"></div>
                <div id="book" style="background-color: {{book_color}}">
                    <div class="book-text" id="display-text-on-book">This book belongs to:</div>
                    <div class="book-text" id="display-username-on-book">{{user.username}}</div>
                    <div id="image-placeholder">
                        <img id="display-image" src="{% static 'logo.png' %}">
                    </div>
                </div>
            </div>

            <div class="button-holder">
                <button class="smaller-button">Open Journal</button>
                <button class="smaller-button" onclick="location.href = 'editjournal'">Edit Journal</button>
            </div>
        </div>

        
    </body>
</html>